MyFan/Service References/MyMusicCenterService/MyMusicCenterWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Proxy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MyMusicCenterWS" targetNamespace="http://Proxy/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.1.103:8080/MyMusicCenterProj/MyMusicCenterWS?xsd=1" namespace="http://Proxy/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="getNewsById">
    <part name="parameters" element="tns:getNewsById" />
  </message>
  <message name="getNewsByIdResponse">
    <part name="parameters" element="tns:getNewsByIdResponse" />
  </message>
  <message name="getDiscsByArtistId">
    <part name="parameters" element="tns:getDiscsByArtistId" />
  </message>
  <message name="getDiscsByArtistIdResponse">
    <part name="parameters" element="tns:getDiscsByArtistIdResponse" />
  </message>
  <message name="getArtistById">
    <part name="parameters" element="tns:getArtistById" />
  </message>
  <message name="getArtistByIdResponse">
    <part name="parameters" element="tns:getArtistByIdResponse" />
  </message>
  <message name="getArtistsByName">
    <part name="parameters" element="tns:getArtistsByName" />
  </message>
  <message name="getArtistsByNameResponse">
    <part name="parameters" element="tns:getArtistsByNameResponse" />
  </message>
  <message name="updateFollowers">
    <part name="parameters" element="tns:updateFollowers" />
  </message>
  <message name="updateFollowersResponse">
    <part name="parameters" element="tns:updateFollowersResponse" />
  </message>
  <message name="getNewsByArtistId">
    <part name="parameters" element="tns:getNewsByArtistId" />
  </message>
  <message name="getNewsByArtistIdResponse">
    <part name="parameters" element="tns:getNewsByArtistIdResponse" />
  </message>
  <message name="getDiscById">
    <part name="parameters" element="tns:getDiscById" />
  </message>
  <message name="getDiscByIdResponse">
    <part name="parameters" element="tns:getDiscByIdResponse" />
  </message>
  <portType name="MyMusicCenterWS">
    <operation name="hello">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="getNewsById">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getNewsByIdRequest" message="tns:getNewsById" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getNewsByIdResponse" message="tns:getNewsByIdResponse" />
    </operation>
    <operation name="getDiscsByArtistId">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getDiscsByArtistIdRequest" message="tns:getDiscsByArtistId" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getDiscsByArtistIdResponse" message="tns:getDiscsByArtistIdResponse" />
    </operation>
    <operation name="getArtistById">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getArtistByIdRequest" message="tns:getArtistById" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getArtistByIdResponse" message="tns:getArtistByIdResponse" />
    </operation>
    <operation name="getArtistsByName">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getArtistsByNameRequest" message="tns:getArtistsByName" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getArtistsByNameResponse" message="tns:getArtistsByNameResponse" />
    </operation>
    <operation name="updateFollowers">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/updateFollowersRequest" message="tns:updateFollowers" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/updateFollowersResponse" message="tns:updateFollowersResponse" />
    </operation>
    <operation name="getNewsByArtistId">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getNewsByArtistIdRequest" message="tns:getNewsByArtistId" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getNewsByArtistIdResponse" message="tns:getNewsByArtistIdResponse" />
    </operation>
    <operation name="getDiscById">
      <input wsam:Action="http://Proxy/MyMusicCenterWS/getDiscByIdRequest" message="tns:getDiscById" />
      <output wsam:Action="http://Proxy/MyMusicCenterWS/getDiscByIdResponse" message="tns:getDiscByIdResponse" />
    </operation>
  </portType>
  <binding name="MyMusicCenterWSPortBinding" type="tns:MyMusicCenterWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNewsById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDiscsByArtistId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getArtistById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getArtistsByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateFollowers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNewsByArtistId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDiscById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyMusicCenterWS">
    <port name="MyMusicCenterWSPort" binding="tns:MyMusicCenterWSPortBinding">
      <soap:address location="http://192.168.1.103:8080/MyMusicCenterProj/MyMusicCenterWS" />
    </port>
  </service>
</definitions>