MyFan/Service References/MyMusicCenterService/MyMusicCenterWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Proxy/" targetNamespace="http://Proxy/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getArtistById" type="tns:getArtistById" />
  <xs:element name="getArtistByIdResponse" type="tns:getArtistByIdResponse" />
  <xs:element name="getArtistsByName" type="tns:getArtistsByName" />
  <xs:element name="getArtistsByNameResponse" type="tns:getArtistsByNameResponse" />
  <xs:element name="getNewsByArtistId" type="tns:getNewsByArtistId" />
  <xs:element name="getNewsByArtistIdResponse" type="tns:getNewsByArtistIdResponse" />
  <xs:element name="getNewsById" type="tns:getNewsById" />
  <xs:element name="getNewsByIdResponse" type="tns:getNewsByIdResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="updateFollowers" type="tns:updateFollowers" />
  <xs:element name="updateFollowersResponse" type="tns:updateFollowersResponse" />
  <xs:complexType name="getNewsByArtistId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNewsByArtistIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNewsById">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNewsByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArtistById">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArtistByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArtistsByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getArtistsByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFollowers">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="follow" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFollowersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>